body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .logo img {
  width: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

/* HERO SECTION */
.hero {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.hero-content {
  color: white;
  max-width: 500px;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.3;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  background: #007bff;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}
