body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #111;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    color: #d4af37;
}

.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 35%;
    left: 50px;
    color: white;
}

.btn {
    background: #d4af37;
    padding: 12px 22px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.products {
    padding: 50px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-btn img {
    width: 55px;
}
