* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
  color: #111;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* NAVBAR */
.navbar {
  background: #000;
  padding: 22px 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

nav a {
  color: #ccc;
  text-decoration: none;
  margin-left: 30px;
  font-size: 14px;
}

/* HERO */
.hero {
  background: #111;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-box {
  background: #fff;
  max-width: 900px;
  padding: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.line {
  width: 80px;
  height: 4px;
  background: #000;
  margin: 20px auto;
}

.hero p {
  font-size: 16px;
  max-width: 650px;
  margin: auto;
  line-height: 1.7;
}

/* BUTTONS */
.hero-actions {
  margin-top: 35px;
}

.btn {
  padding: 14px 34px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  border: 2px solid #000;
}

.dark {
  background: #000;
  color: #fff;
}

.light {
  background: #fff;
  color: #000;
}

/* SERVICES */
.services {
  background: #fff;
  padding: 90px 0;
}

.services h2 {
  text-align: center;
  margin-bottom: 50px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: #f1f1f1;
  padding: 40px;
  text-align: center;
  font-weight: 600;
}

/* FOOTER */
.footer {
  background: #000;
  color: #ccc;
  text-align: center;
  padding: 28px 0;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background: #000;
  color: #fff;
  padding: 15px 17px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

/* MOBILE */
@media(max-width: 768px) {
  .hero-box {
    padding: 40px;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }
}
